body {
    max-width: 1024px;
    width: 100%;
    height: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

div {
    font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
   
.container {
    background-color: beige;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.lesson {
    margin-left: 500px;
    width: 200px;
    height: 330px;
    margin-top: 16px;
    object-position: center;
}

.hello {
    margin-top: 100px;
    margin-left: 500px;
    font-weight: 500px;
    font-size: 16px;
    color: blue;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;


}
#submit {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
    font-weight: 600;
    font-size: 30px;
    
   
}
.ability1 {
    background-color: beige;
    justify-content: space-evenly;

}
.about {
    margin-top: 100px;
    text-align: center;
    justify-content: space-evenly;
}
.ability {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

#skills {
        
        color: white;
        border-radius: 600px;
        padding: 20px 10px 10px 20px;
        border-style: solid;
        border-width: 2px;
        border-color: blue;
        flex-wrap: wrap;
        flex-wrap: wrap;
        background-color: blueviolet;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;

}
.milk1 {
display: flex;
justify-content: center;

margin-top: 50px;
color: black;
}
.milk {
   
    color: black;
    font-weight: 600;
    font-size: 30px;
    margin-left: 100px;
    margin-bottom: 200px;
}  



#work {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: black;
    font-weight: 600;
    font-size: 30px;
    
    
}
.work1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: nowrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 50px;
    margin-bottom: 200px;
}
.project1 {
    background-color: beige;
    color: black;
    border-radius: 0px;
    border-width: 0.6px;
    padding: 70px 90px 70px 90px;
}
.project2 {
    background-color: beige;
    color: black;
    border-radius: 0px;
    border-width: 0.6px;
    padding: 70px 90px 70px 90px;
}
.project3 {
    background-color: beige;
    color: black;
    border-radius: 0px;
    border-width: 0.6px;
    padding: 70px 90px 70px 90px;
}
.contact1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: beige;
   
    
}
.contact {
    display: flex;
    justify-content: center;
    font-weight: 200px;
    color: black;
    margin-top: 30px;
}

#bob {
    display: flex;
    justify-content: center;
    
    font-weight: 600;
    font-size: 30px;
}
.telephone1{
    display: flex;
   margin-left: 300px;
}
.telephone {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 50px;

}
.email1{
    display: flex;
  margin-left: 300px;

}
.email {
    width: 20px;
    height: 20px; 
    margin-right: 10px;
    margin-left: 50px;
}
.instagram1{
    display: flex;
    margin-left: 300px;
    
}
.instagram {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 50px;
}
* {
    font-size: 16px;
    color: black;
}
